<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Letters</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>All Letters</h2>
<div th:each="letter : ${letters}">
    <p>
        <strong>Type:</strong> <span th:text="${letter.type}"></span><br/>
        <strong>Comment:</strong> <span th:text="${letter.comment}"></span><br/>
        <strong>Content:</strong> <span th:text="${letter.content}"></span>
    </p>
</div>
<a th:href="@{/}">Back to Home</a>
</body>
</html>
