<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>

<body>
<form th:action="@{/register}" method="post">
    <table class = "register">
        <tr>
            <td class="center-text"><h2>회원가입</h2></td>
        </tr>
        <tr>
            <td>닉네임</td>
        </tr>
        <tr>
            <td><input type="text" name="username"  class="nickname" placeholder=" 닉네임은 바꿀 수 없어요" required></td>
        </tr>
        <tr>
            <td>비밀번호 입력</td>
        </tr>
        <tr>
            <td><input type="password" name="password" class="password" placeholder=" 비밀번호는 찾을 수 없어요" required></td>
        </tr>
        <tr>
            <td>비밀번호 재입력</td>
        </tr>
        <tr>
            <td><input type="password" name="confirmPassword" class="password" placeholder=" 신중하게 입력하세요" required></td>
        </tr>
<!--        <tr>-->
<!--            <td><input type="submit" value="가입하기" class="btn" onclick="alert('가입 성공!')"></td>-->
<!--        </tr>-->
        <tr>
            <td> <button type="submit" value="가입하기" class="btn">Register</button>
        </tr>
    </table>
</form>
<p th:if="${error}" th:text="${error}"></p>

</body>
</html>